<div class='container mt-big'>
  <div class="row">
    <div class="col inner-padding card col-12 align-self-center">
      <div class="justify-content-md-center">
        <div class="df ai-center">
          <h1 class="mr-auto">Articles</h1>
          <%= link_to "Categories", categories_path, class: 'btn btn-link' %>
          <%= link_to "New Article", new_article_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <table id="dtBasicExample" class="mt table" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><%= link_to "Title", :sort => "title"%> </th>
            <th><%= link_to "Image", :sort => "image"%> </th>
            <th><%= link_to "Status", :sort => "status"%> </th>
            <th><%= link_to "Category Description", :sort => "category_id"%> </th>
            <th><%= link_to "User", :sort => "user_id"%> </th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td>
                <%= link_to article.title, article %>
              </td>
              <td>
                <%= article.image.filename %>
              </li>
              <td>
                <%= article.status == "1" ? "Active" : "Inactive" %></p>
              </td>
              <td>
                <%= article.category_description %>
              </td>
              <td>
                <%= article.user_email %>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>