<div class='container mt-medium'>
  <div class="row">
    <div class="col inner-padding offset-md-3 col-6 align-self-center">
      <% if @articles.length == 0 %>
        <div class="card text-center inner-padding">
          No news found
        </div>
      <% end %>
      <% @articles.each do |article| %>

        <%= link_to article, class: 'article-wrapper'  do %>
          <% if article.image.persisted? %>
            <%= image_tag(article.image) %>
          <% end %>
          <div class='article-content'>
            <div class="article-top">
              <span class="badge bg-light text-dark article-author">Por: <%= article.user.name %></span>
              <span class="badge bg-primary article-category">
                <%= article.category.description %>
              </span>
            </div>
            <h4 class="article-title"><%= article.title %></h4>
            <p class="article-description mt"><%= article.description %></p>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>